.main-content__container {
  padding-block-start: var(--sp1);
}

.site-header__inner__container {
  align-items: center;

  .mobile-buttons {
    margin-block-start: 0;
  }
}

/* Use more of the available width on the page */
@media (min-width: 62.5rem) {
  .layout--content-medium,
  .layout--pass--content-medium > *,
  .block-system-breadcrumb-block,
  .block-system-main-block {
    grid-column: 1 / 14;
  }
}
