/* Inline form */
.views-exposed-form.form--inline {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
  gap: var(--sp1);

  .form-item {
    margin: 0;
    input,
    select {
      width: 100%;
    }
  }

  .form-actions {
    margin-top: 0;

    .button {
      margin-block: 0;
    }
  }
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  width: 100%;
}
