.user-profile {
  .user-profile-image-wrapper {
    grid-area: image;
  }
  .user-profile-info-wrapper {
    grid-area: info;

    .field {
      margin-block-end: var(--sp1);
    }
  }
  .user-profile-content {
    grid-area: content;
  }

  .user-profile-content-experience {
    padding: var(--sp1);
    background-color: var(--color--gray-90);
  }

  /* Use more of the available width on the page on larger screens */
  @media (min-width: 43.75rem) {
    display: grid;
    gap: var(--sp3);
    grid-template-columns: 1fr;
    grid-template-columns: 4fr 8fr;
    grid-template-areas:
      "image info"
      "content content";

    .user-profile-content-experience {
      padding: var(--sp2);
    }
  }
}
