.view {
  display: block;
}
.view-content {
  display: grid;
  gap: var(--sp2);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 270px), 1fr));
  grid-template-rows: max-content;
}

/* @media (min-width: 43.75rem) {
  .view-content {
    gap: var(--sp2);
  }
} */
