{# @var items \Drupal\filmfolk\Plugin\Field\FieldType\FunktionErfaringItem[] #}
{% set items = element['#items']|default([]) %}
{% if items %}
  <table class="table-funktion-erfaring">
    <thead>
      <tr>
        <th>{{ 'Funktion'|t }}</th>
        <th>{{ 'Erfaring'|t }}</th>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td class="field__function field__label">{{ item.funktion.label }}</td>
        <td class="field__experience">{{ item.erfaring.label }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
